:root {
    --bg-color: #121212;
    --text-color: #e0e0e0;
    --primary-color: #bb86fc;
    --secondary-color: #03dac6;
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.6;
}

.header {
    text-align: center;
    padding: 50px 20px;
    background-color: var(--bg-color);
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    background-color: var(--primary-color);
    margin: 0;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: var(--bg-color);
    font-weight: bold;
}

.section {
    padding: 50px 20px;
    text-align: center;
}

.skills-list span {
    display: inline-block;
    background-color: var(--secondary-color);
    margin: 5px;
    padding: 10px 20px;
    border-radius: 5px;
}

.cta {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    color: var(--bg-color);
    background-color: var(--primary-color);
    text-decoration: none;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.cta:hover {
    transform: scale(1.1);
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: var(--primary-color);
    color: var(--bg-color);
}
